body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #ffffff;
  font-size: 24px;
}

/* ========== Header ========== */

.head {
  justify-content: space-between;
  padding: 1% 5%;
  line-height: 50%;
  width: 100%;
}

.head-name {
  display: flex;
}

.head h3 {
  color: rgb(224, 224, 0);
}

.head h4 {
  color: rgb(118, 197, 0);
}

/* ========== Sidebar ========== */

.sidebar-header {
  font-size: 25px;
  color: #165a72;
}

.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}

/* ========== Pages ========== */

.page {
  margin: 50px;
}

.page h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}

.content {
  display: flex;
  align-items: center;
}

.content img {
  width: 40%;
  height: auto;
  margin-right: 10px;
}

.page p {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

/* ========== People ========== */

.people {
  margin-right: 20px;
}

.people img {
  width: 20vb;
  height: auto;
  margin-right: 10px;
}

/* ========== Projects ========== */

.projects {
  line-height: 50%;
}

.projects h3 {
  font-size: 26px;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 50px;
}

.projects p {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}